.show-body {
  width: 100vw;
  .show-main {
    width: 50%;
    margin: 0 auto 60px;
    &__image {
      .big-image {
        width: 509px;
        margin: 60px auto 8px;
        .big {
          width: 509px;
          height: 340px;
          object-fit: contain;
        }
      }
      .small-image {
        width: 650px;
        margin: 0 auto;
        display: flex;
        .small {
          width: 125px;
          height: 85px;
          margin-left: 2px;
          box-shadow: 1px 1px 2px gray;
          object-fit: contain;
        }
      }
    }
    &__contents {
      width: 509px;
      margin: 28px auto;
      .product {
        &__name {
          font-size: 18px;
        }
        &__brand {
          font-size: 16px;
          margin-top: 10px;
        }
        &__evaluation {
          font-size: 13px;
          text-align: right;
        }
        &__detail {
          font-size: 14px;
          margin-top: 10px;
          line-height: 18px;
          padding-bottom: 18px;
          border-bottom: 1px solid #777;
        }
        &__links {
          text-align: right;
          font-size: 17px;
          margin: 10px 0;
          .link {
            @include login(#777);
            @include hover-opacity(0.7);
          }
        }
      }
      .user-info {
        padding: 10px;
        color: #555;
        &__box {
          font-size: 12px;
          display: flex;
          &__age {
            margin-right: 8px;
          }
          &__skin-color {
            margin: 0 8px;
          }
          &__skin-condition {
            margin-left: 8px;
          }
        }
        &__nickname {
          text-align: right;
        }
      }
    }
  }
}