.header
  .header__top
    .left
      ≡
    .right
      = link_to new_user_registration_path, class: "new" do
        新規登録
      |
      = link_to new_user_session_path, class: "login" do
        ログイン