@mixin login($color) {
  text-decoration: none;
  color: $color;
  transition: all 0.3s ease 0s;
}

@mixin hover-opacity($opacity) {
  &:hover {
    opacity: $opacity;
  }
}

@mixin display-text($size, $color) {
  font-size: $size;
  color: $color;
}

@mixin hover-bgcolor($bg, $color) {
  &:hover {
    background-color: $bg;
    color: $color;
  }
}

@mixin action-btn($num) {
  display: block;
  border: 1px solid #D2B48C;
  border-radius: 10px;
  background-color: #fff;
  transition: all $num ease 0s;
  cursor: pointer;
}